doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora|Istok+Web')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

